


body {
  font-family: helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #111;
  background-color: rgb(255, 217, 2);
  margin-top: 25vw;

}

.wrapper {
  max-width: 1000px;
  margin: auto;
  border-top: 5px solid currentColor;
  border-right: 5px solid currentColor;
  border-left: 5px solid currentColor;;
  }

li {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 30px;
  border-bottom: 5px solid currentColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
  background-color: white;
}

li:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

li a {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}

.work-title {
  font-weight: 800;
}

.work-title,
.work-week {
  transition: transform .3s;
}

li:hover .work-title {
  transform: translateX(5px);
}

li:hover .work-week {
  transform: translateX(-5px);
}