

body {
  background-color: #f5f5f7;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-top: 1vw;
  margin-right: 5%;
  animation-name: fadeIn;
  animation-duration: 1.2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  backdrop-filter: blur(4px);
  
  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.left_bar {
  border: .4vw solid #1d1d1f;
  /* height: 10000px; */
  margin-top: -1.5vw;
  font-family: 'Roboto Condensed', sans-serif;
  
  
}

.bars {
  border-top: .4vw solid #1d1d1f;
  border-bottom: .4vw solid #1d1d1f;
  margin-top: 1.62vw;
}

.bars2 {
  border-bottom: .4vw solid #1d1d1f;
}

h1 {
  
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:700;
  font-size: 15vw;
  text-align: center;
  position: fixed;
  margin-left: 3.46%;
  margin-right: 3.46%;
  top: 20%;
  opacity: .1;
  filter: blur(5px);
}

h2 {
  text-align: center;
  font-size: 2vw;
  margin-top: 1.2vw;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 2vw;
}

.song {
  font-style: italic;
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

.bold {
  font-weight: bold;
}


.description {
  text-align: center;
}

.info {
  font-size: 1.2vw;
}

.content {
  border: .4vw solid #1d1d1f;
  border-left: 0px;
  border-right: .4vw solid #1d1d1f;
  width: 100%;
  margin-top: -1.5vw;
  height: 900px;
  overflow: scroll;
  
}

.content2 {
  border-top: .4vw solid #1d1d1f;
  margin-top: 1.62vw;
  
}

.content3 {
  padding-top: 3.2%;
  margin-left: 2vw;
  /* margin-right: 30%; */
  font-size: 2vw;
  font-weight: 400;
  line-height: 2.5vw;
  letter-spacing: .02vw;
  
  
}

.listing {
  margin-bottom: 3vw;
  padding-right: 1.5vw;
}

li {
  margin-bottom: 1vw;
  
}

.home {
  font-weight: bold;
  text-align: center;
  font-size: 1.5vw;
  border: .4vw solid #1d1d1f;
  margin-top: 1.5vw;
  margin-left: 10%;
  margin-right: 10%;
  padding: .5vw;
  border-radius: 1.2vw;
  background-color: #1d1d1f;
  color: #f5f5f7;
  text-decoration: none;
  transition: .5s ease-in-out;
}

.home:hover {
  background-color: rgb(85, 85, 85);
  text-decoration: none;
  transition: .2s ease-in-out;
}

img {
  max-width: 20vw;
  height: auto;
  border: .4vw solid #1d1d1f;
  border-radius: 1.2vw;
  filter: grayscale(0%) contrast(100%);
  transition: .2s ease-in-out;
  margin: 1.5vw;
  margin-bottom: 1.15vw;
  
  
}

img:hover {
  filter: grayscale(100%) contrast(160%);
  transition: .2s ease-in-out;
  transform: scale(105%);
  z-index: 2;
}

audio {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  object-fit: contain;
  justify-content: center;
  margin-bottom: 1vw;
  z-index: 1;
  
}

audio::-webkit-media-controls-panel{
  background-color: #1d1d1f;
}

audio::-webkit-media-controls-play-button{
  background-color: #f5f5f7;
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display{
  color: #f5f5f7;
}

audio::-webkit-media-controls-time-remaining-display{
  color: #f5f5f7;
}

audio::-webkit-media-controls-timeline{
 background-color: #f5f5f7;
 padding: .1vw;
 margin-left: .5vw;
 border-radius: 40px;
 margin-right: .5vw;
}


audio::-webkit-media-controls-mute-button{
  background-color: #f5f5f7;
  border-radius: 50%;
}



@media screen and (max-width: 1000px) {
  .container {
    margin-left: 2%;
    margin-right: 2%;
  }

  img {
    max-width: 30vw;
  }

  .content3 {
    font-size: 2.7vw;
    line-height: 2.8vw;
    letter-spacing: .13vw;
  }

  .info {
    font-size: 1.6vw;
  }

  .song {
    font-size: 2vw;
  }

  h1 {
    font-size: 15.6vw;
    bottom: 30%;
  }

  h2 {
    font-size: 2.6vw;
    margin-bottom: 1.6vw;
    
  }

  audio {
    padding: 2vw;
  }

}

@media screen and (max-width: 500px) {

  body {
    overflow: auto;
  }

  img {
    max-width: 35vw;
    filter: grayscale(0%) contrast(100%);

  }

  .container {
    flex-wrap: wrap;
    margin-left: 1%;
    margin-right: 1%;
    backdrop-filter: blur(3px);
  }

  .left_bar {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* align-items: center; */
  }

  h2 {
    font-size: 5vw;
    margin-bottom: 2.3vw;
    margin-top: 6vw;
    margin-left: 1%;
    margin-right: 1%;
  }

  .info {
    font-size: 3.7vw;
    
  }

  .song {
    font-size: 4.2vw;
  }

  audio {
    width: 255%;
    padding: 2vw;
  }

  .left_bar {
    border: .4vw solid #1d1d1f;
    border-top: 0;
    border-bottom: 0;
  }

  .bars {
    border-top: 0vw solid #1d1d1f;
    border-bottom: 0vw solid #1d1d1f;
  }

  .bars2 {
    border-bottom: 0vw solid #1d1d1f;
  }

  .content {
    border: .4vw solid #1d1d1f;
    height: 100%;
  }

  .content3 {
    font-size: 4.5vw;
    font-weight: 400;
    line-height: 5.2vw;
    letter-spacing: .15vw;
    padding-top: 3.2%;
  }

  h1 {
  font-size: 22vw;
  bottom: 50%;
  opacity: .1;
  filter: blur(0px);
  bottom: 33%;
  }

  .listing {
    margin-bottom: 6.5vw;
  }
  
  .home {
    text-align: center;
    font-size: 4.5vw;
    margin-top: 0vw;
    margin-bottom: 4vw;

    padding: 1vw;

  }


}