

h1 {
  
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:700;
  font-size: 9vw;
  text-align: center;
  position: fixed;
  margin-left: 3.46%;
  margin-right: 3.46%;
  bottom: 50%;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 3.5%;
  margin-right: 3.5%;
  margin-top: 1vw;
  
}

.item {
  padding: 2.5vw;
  
  
}

img {
  max-width: 15vw;
  height: auto;
  border: .45vw solid black;
  border-radius: 1.2vw;
  filter: grayscale(100%) contrast(160%);
  transition: .5s ease-in-out;
  
  
}

img:hover {
  filter: grayscale(0%) contrast(100%);
  cursor: pointer;
  transition: .2s ease-in-out;
  transform: scale(103%);

}

/* .container {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  backdrop-filter: blur(4px);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  animation-name: fadeout;
  animation-duration: 4s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  backdrop-filter: blur(2px);
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
} */

